@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;
@model ContentSummaryViewModel

<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                @StringResource.admin_PagesProperties
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var propertyData in this.Model.PropertyData)
        {
            <tr>
                <td class="col-sm-4">
                    @propertyData.Name
                </td>
                <td>
                    @propertyData.Value
                </td>
            </tr>
        }
        <tr>
            <td colspan="2">
                @foreach(var actionData in this.Model.ActionsData)
                {
                    <a href="@Url.Action(actionData.Action, actionData.Controller, actionData.RouteValues)" class="btn btn-default">
                        @if (actionData.Glyph != null)
                        {
                            <span class="@actionData.Glyph" aria-hidden="true"></span>
                        }
                        @actionData.Label
                    </a>
                }
            </td>
        </tr>
    </tbody>
</table>
