@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;
@model CategoryProductsViewModel
@{
    Guid? importCat = (Guid?)this.ViewData["importToCat"];
}
@using (Html.BeginForm("ImportProducts", "Admin", new { importCat = importCat.Value }, FormMethod.Post, new { id = "import-products-form" }))
{ 
    <table class="table table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" id="check-select-all" /></th>
                <th>@StringResource.admin_Name</th>
            </tr>
        </thead>
        <tbody>
            @for (int productIndex = 0; productIndex < this.Model.Products.Count; productIndex++)
            {
                <tr class="product-row" id="@this.Model.Products[productIndex].Id">
                    <td>
                        @Html.HiddenFor(model => model.Products[productIndex].Id)
                        @Html.CheckBoxFor(model => model.Products[productIndex].Checked, new { @class = "form-contorl check-select-item" })
                    </td>
                    <td>@this.Model.Products[productIndex].Name</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.HiddenFor(model => model.ParentCategoryId)
}
<script>
    $(function () {
        $("#check-select-all").click(function () {
            $(".check-select-item").prop("checked", this.checked);
        });
    });
</script>
