@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;
@model PageViewModel
@{
    ViewBag.Title = StringResource.admin_Pages;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script src="~/Scripts/bootstrap-treenav.js"></script>
<link href="~/Content/bootstrap-treenav.css" rel="stylesheet" />

    <h2>@ViewBag.Title</h2>

        <div class="col-sm-10 col-sm-offset-1">
            @using (Html.BeginForm("NewPage", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            <div class="form-group">
                    @Html.LabelFor(model => model.ParentCategory, new { @class = "control-label" })
                    <div class="row">
                        <div class="col-sm-8">
                            @Html.TextBoxFor(model => model.ParentCategory, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-4">
                            <a href="#" class="btn btn-default" id="btn-choose-parent">@StringResource.admin_PageChoose</a>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(model => model.ParentCategory)
                </div>
            <div class="form-group">
                    @Html.LabelFor(model => model.Text, new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.Text, new { @class = "form-control parent-category-name" })
                </div>
            @Html.HiddenFor(model => model.ParentCategoryId, new { @class="parent-category-id" })    
            <div class="form-group">
                    <input type="submit" value="@StringResource.admin_Save" class="btn btn-lg btn-primary" />
                </div>
        }

        </div>
        <div id="choose-parent-form"class="">
            <h3>@StringResource.admin_PageContainerDialogLabel</h3>
            <div id="choose-parent-form-container" class="row">
                <ul class="nav nav-pills nav-stacked nav-tree" id="myTree" data-toggle="nav-tree">
                    @Html.Partial("CategoryTreeItem", this.Model.RootCategory);
                </ul>
            </div>
        </div>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: [
                "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars",
                "insertdatetime nonbreaking save table contextmenu directionality",
                "emoticons paste textcolor colorpicker textpattern"
            ],
            toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor emoticons",
        });

$(function () {
    var height = $(window).height();
    var width = $(window).width();

    var dialog = $("#choose-parent-form").dialog({
        autoOpen: false,
        modal: true,
        width: width * 0.8,
        height: height * 0.8,
        buttons: {
            Cancel: function () {
                dialog.dialog("close");
            }
        }
    });

    $("#btn-choose-parent").click(function () {
        dialog.dialog("open");
        return false;
    });

    $("a.category-tree-item").click(function () {
        var itemId = $(this).attr('item-id');
        $("#ParentCategoryId").val(itemId);
        $("#ParentCategory").val($(this).text());
        dialog.dialog("close");
        return false;
    });
});
</script>
