@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;
@model PageViewModel
@{
    ViewBag.Title = StringResource.admin_Pages;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>

<div class="border col-sm-3">
    @Html.ActionLink(StringResource.admin_Back, "Pages", null, new { @class = "btn btn-block btn-primary" })
    <h3>@StringResource.admin_AddToParent </h3>
    @Html.Partial("CategoryTree", this.ViewData["CategoryTreeRootViewModel"] as CategoryTreeItemViewModel)
</div>
<div class="border col-sm-9">
    <h2>@ViewBag.Title</h2>
    <div class="col-sm-10 col-sm-offset-1">
        @using (Html.BeginForm("NewPage", "Admin", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Text, new { @class = "control-label" })
                @Html.TextAreaFor(model => model.Text, new { @class = "form-control parent-category-name" })
            </div>
            <div class="form-group">
                <label>@StringResource.admin_PageAttachment</label>
                <input type="file" id="attachment" name="attachment" class="form-control" value="@StringResource.admin_PageChooseFile" />
            </div>
            @Html.HiddenFor(model => model.ParentCategoryId, new { @class = "parent-category-id" })
            <div class="form-group">
                <input type="submit" value="@StringResource.admin_Save" class="btn btn-lg btn-primary" />
            </div>
        }
    </div>
</div>
<script>
    tinymce.init({
        selector: 'textarea',
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars",
            "insertdatetime nonbreaking save table contextmenu directionality",
            "emoticons paste textcolor colorpicker textpattern"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor emoticons",
    });

    $(function () {
        $(document).on("category-tree:selected", function (event, id) {
            $("#ParentCategoryId").val(id);
        });
    });
</script>
