@using System.Collections;
@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;
@{
    ViewBag.Title = StringResource.admin_Pages;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="~/Scripts/bootstrap-treenav.js"></script>
<link href="~/Content/bootstrap-treenav.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="new-pages-row">
        <p>
            @Html.ActionLink(StringResource.admin_NewPage, "Page", null, new { @class = "btn btn-default" })
            @Html.ActionLink(StringResource.admin_PageNewCategory, "Category", null, new { @class = "btn btn-default" })
            @Html.ActionLink(StringResource.admin_ProductNew, "NewProduct", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 form-group">
        @Html.Partial("CategoryTree", this.ViewData["CategoryTreeRootViewModel"] as CategoryTreeItemViewModel)
    </div>
    <div class="col-sm-8 form-group" id="content-summary">
        <span>No summary.</span>
    </div>
    <input type="hidden" value="@Guid.Empty" id="current-selection"/>
</div>
<script>
    $(function () {

        InitializeTreeView('@(this.ViewData["TreeSelection"] == null ? Guid.Empty : this.ViewData["TreeSelection"])');

        $(document).on("category-tree:selected", function (event, id) {
            $("#current-selection").val(id);
            $.ajax({
                url: "/Admin/ContentSummary?id=" + id,
            })
            .done(function (html) {
                $("#content-summary").html(html);
            });
        });

        var e = $("#new-pages-row").find(".btn");
        e.click(function () {
            var href = $(this).attr('href');
            var selectedCat = $("#current-selection").val();
            window.location.href = href + '?parentId=' + selectedCat;
            return false;
        });
    });
</script>