@using System.Collections;
@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;
@model PageViewModel
@{
    ViewBag.Title = StringResource.admin_Pages;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="~/Scripts/bootstrap-treenav.js"></script>
<link href="~/Content/bootstrap-treenav.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <p>
            @Html.ActionLink(StringResource.admin_NewPage, "NewPage", null, new { @class = "btn btn-default" })
            @Html.ActionLink(StringResource.admin_PageNewCategory, "NewCategory", null, new { @class = "btn btn-default" })
            @Html.ActionLink(StringResource.admin_ProductNew, "NewProduct", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 form-group">
        @Html.Partial("CategoryTree", this.ViewData["CategoryTreeRootViewModel"] as CategoryTreeItemViewModel)
    </div>
    <div class="col-sm-8 form-group" id="content-summary">
        <span>No summary.</span>
    </div>
</div>
<script>
    $(function () {
        $(document).on("category-tree:selected", function (event, id) {
            $.ajax({
                url: "/Admin/ContentSummary?id=" + id,
            })
            .done(function (html) {
                $("#content-summary").html(html);
            });
        });
    });
</script>