@using System.Collections;
@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;
@model PageViewModel
@{
    ViewBag.Title = StringResource.admin_Pages;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="~/Scripts/bootstrap-treenav.js"></script>
<link href="~/Content/bootstrap-treenav.css" rel="stylesheet" />

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-sm-12 form-group">
        @Html.ActionLink(StringResource.admin_NewPage, "NewPage", null, new { @class = "btn btn-default" })
        @Html.ActionLink(StringResource.admin_PageNewCategory, "NewCategory", null, new { @class = "btn btn-default" })
        @Html.ActionLink(StringResource.admin_ProductNew, "NewProduct", null, new { @class = "btn btn-default" })
    </div>
</div>

<div class="row form-group">
    <ul class="nav nav-pills nav-stacked nav-tree" id="myTree" data-toggle="nav-tree">
        @Html.Partial("CategoryTreeItem", this.Model.RootCategory)
    </ul>
    <script>
        var pageUrl = '@Url.Action("Page", "Main", new { Id = "-page-id-" })';
        $("a.category-tree-item").click(function () {
            window.location.href = pageUrl.replace("-page-id-", this.getAttribute('item-id'));
        });
    </script>
</div>