@using InstantStore.WebUI.Resources;
@{
    ViewBag.Title = StringResource.form_Contact_us;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="container-fluid col-md-6 col-md-offset-3 border">
    <h2>@ViewBag.Title</h2>
    <form action="/main/submitfeedback" method="post">
        <div class="form-group">
            <div>@StringResource.form_Contact_Name</div>
            <input type="text" name="name" id="name" class="form-control" />
        </div>
        <div class="form-group">
            <div>@StringResource.form_Reg_Email</div>
            <input type="text" name="email" id="email" class="form-control" />
        </div>
        <div class="form-group">
            <div>@StringResource.form_Contact_Message</div>
            <textarea name="message" id="message" class="form-control" rows="5"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="@StringResource.Feedback_Submit" class="btn btn-primary btn-lg" />
        </div>
    </form>
</div>
