@using InstantStore.WebUI.Resources;
@{
    ViewBag.Title = StringResource.admin_Settings;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var settingsViewModel = ViewBag.SettingsViewModel;
}

<script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
<script>tinymce.init(
    {
        selector: 'textarea',
        plugins: [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars",
            "insertdatetime nonbreaking save table contextmenu directionality",
            "emoticons paste textcolor colorpicker textpattern"
        ],
        toolbar1: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | forecolor backcolor emoticons",
    });</script>

<h2>@ViewBag.Title</h2>
<form method="post" action="~/main/settingsupdate">
    
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#header" aria-controls="header" role="tab" data-toggle="tab">@StringResource.Settings_HeaderLabel</a>
            </li>
            <li role="presentation">
                <a href="#maintext" aria-controls="maintext" role="tab" data-toggle="tab">@StringResource.Settings_MainTextLabel</a>
            </li>
            <li role="presentation">
                <a href="#footer" aria-controls="footer" role="tab" data-toggle="tab">@StringResource.Settings_FooterLabel</a>
            </li>
        </ul>
    </div>

    <div class="tab-content form-group">
        <div role="tabpanel" class="tab-pane active" id="header">
            <h3>@StringResource.Settings_HeaderLabel</h3>
            <textarea id="Settings.Header" name="headerHtml" rows="15">@settingsViewModel.HeaderHtml</textarea>
        </div>
        <div role="tabpanel" class="tab-pane" id="maintext">
            <h3>@StringResource.Settings_MainTextLabel</h3>
            <textarea id="Settings.MainDocument" name="mainDocumentHtml" rows="35">@settingsViewModel.MainDocumentHtml</textarea>
        </div>
        <div role="tabpanel" class="tab-pane" id="footer">
            <h3>@StringResource.Settings_FooterLabel</h3>
            <textarea id="Settings.Footer" name="footerHtml" rows="15">@settingsViewModel.FooterHtml</textarea>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="@StringResource.Settings_SubmitButtonText" class="btn btn-primary btn-lg" />
    </div>
</form>
<script>

</script>
