@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;
@model UserPanelViewModel
@{
    string statusStyle = null;
    string statusText = StringResource.ResourceManager.GetString("userInfo_Status_" + this.Model.Status.ToString());
    switch (this.Model.Status)
    {
        case UserStatus.Active:
            statusStyle = "text-success";
            break;
        case UserStatus.Blocked:
            statusStyle = "text-danger";
            break;
        case UserStatus.Pending:
            statusStyle = "text-warning";
            break;
    }
}

<div class="panel panel-default">
    <div class="panel-heading">
        <span>@this.Model.Title</span>
    </div>
    <div class="panel-body">
        <p>
            <label>@StringResource.userInfo_Status</label><span class="@statusStyle">@statusText</span>
        </p>
        <p>
            <a href="@Url.Action("Logoff")"><span class="glyphicon glyphicon-log-out"></span>&nbsp;@StringResource.Logout</a>
        </p>
    </div>
</div>