@using InstantStore.Domain.Concrete;
@using InstantStore.WebUI.ViewModels;
@{
    var settingsViewModel = ViewBag.SettingsViewModel as SettingsViewModel;
    var categoryListViewModel = ViewBag.CategoryListViewModel;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="container-fluid">
        @if (settingsViewModel != null && !string.IsNullOrEmpty(settingsViewModel.HeaderHtml))
        {
            @Html.Raw(settingsViewModel.HeaderHtml);
        }
    </header>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Instant</a>
            </div>
            <div id="mynavbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>                
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span>User</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Sign In</a></li>
            </ul>
        </div>
    </nav>    
    <div class="container-fluid">
        <div class="row panel">
            @if (categoryListViewModel != null) 
            { 
                <div id="sidebar" role="navigation" class="col-xs-3">
                    @Html.Action("Menu", "NavCategory")
                </div>
                <div class="col-xs-9">
                    @RenderBody()
                </div>
            }
            else
            {
                <div class="col-md-10 col-md-offset-1">
                    @RenderBody()
                </div>
            }
        </div>        
    </div> 
    <footer class="footer">
        @if (settingsViewModel != null && !string.IsNullOrEmpty(settingsViewModel.FooterHtml))
        {
            @Html.Raw(settingsViewModel.FooterHtml);
        }
    </footer>
</body>
</html>
