@using InstantStore.WebUI.Resources;
@using InstantStore.WebUI.ViewModels;
@model DialogViewModel

<div class="modal fade" id="@this.Model.DialogId" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width:90%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@this.Model.Title</h4>
            </div>
            <div class="modal-body" id="@this.Model.DialogBodyId">
            </div>
            <div class="modal-footer">
                @if (this.Model.ShowCancelButton)
                { 
                    <button type="button" class="btn btn-default" data-dismiss="modal">@StringResource.Cancel</button>
                }
                <input type="button" class="btn btn-primary" id="@this.Model.DialogSubmitId" value="@this.Model.ButtonText" />
            </div>
        </div>
    </div>
</div>

