@using InstantStore.WebUI.ViewModels;
@using InstantStore.WebUI.Resources;

@model TableViewModel
@{
    bool IsRowClickable = this.Model.RowClickAction != null;
    string tableId =  "_c_" + this.Model.Id;
    int columns = this.Model.Header != null ? this.Model.Header.Count : 0;   
}

@if (this.Model.Title != null)
{
    <h3>@this.Model.Title</h3>
}

<table class="table table-hover">
    @if (this.Model.Header != null && this.Model.Header.Any())
    {
        <thead>
            <tr>
                @foreach (var header in this.Model.Header)
                {
                    <th>@header.Text</th>
                }
            </tr>
        </thead>
    }
    @if (this.Model.Rows != null)
    { 
        foreach (var row in this.Model.Rows)
        {
        <tr id="@(IsRowClickable ? row.Id : null)" parentId="@(IsRowClickable ? row.ParentId : null)" class="@(IsRowClickable ? "c_pointer " + tableId : null)">
            @if (row.GroupCell != null)
            {
                <td colspan="@columns">
                    @if (row.GroupCell.Action != null)
                    {
                        <a href="@row.GroupCell.Action.GetUrl(this.Url)" class="btn btn-default table-action">@row.GroupCell.Action.Text</a>
                    }
                    else if (row.GroupCell.Thumbnail != null)
                    {
                        @Html.Partial("ImageThumbnail", row.GroupCell.Thumbnail)
                    }
                    else
                    {
                        <h4>@row.GroupCell.Text</h4>
                    }
                </td>
            }
            else
            {            
                foreach (var cell in row.Cells)
                {
                    <td>
                        @if (cell.Action != null)
                        {
                            <a href="@cell.Action.GetUrl(this.Url)" class="btn btn-default table-action">@cell.Action.Text</a>
                        }
                        else if (cell.Thumbnail != null)
                        {
                            @Html.Partial("ImageThumbnail", cell.Thumbnail)
                        }
                        else
                        {
                            @cell.Text
                        }
                    </td>
                }
            }
        </tr>
    }
}
</table>
@if (this.Model.Pagination != null)
{
    @Html.Partial("Pager", this.Model.Pagination);
}
@if (IsRowClickable)
{
    <script>
        $(function () {
            $(".@tableId").click(function () {
                if ($(this).attr("id"))
                {
                    @{
                        var rowActionUrl = this.Model.RowClickAction.GetUrl(this.Url);
                        var hasQuestion = rowActionUrl.Contains('?');
                    }
                    location.href = "@Html.Raw(rowActionUrl + (hasQuestion ? "&" : "?"))" + "id=" + $(this).attr("id") + 
                        ($(this).attr("parentId") !== undefined ? ("&parentId=" + $(this).attr("parentId")) : "");
                }
            });
        });
    </script>
}