@using InstantStore.WebUI.Resources;
@using InstantStore.WebUI.ViewModels;
@model UserViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Name, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="col-sm-8 col-sm-offset-4 error-label">
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.City, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
    </div>
    <div class="col-sm-8 col-sm-offset-4 error-label">
        @Html.ValidationMessageFor(model => model.City)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Company, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.Company, new { @class = "form-control" })
    </div>
    <div class="col-sm-8 col-sm-offset-4 error-label">
        @Html.ValidationMessageFor(model => model.Company)
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Phonenumber, new { @class = "col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(model => model.Phonenumber, new { @class = "form-control" })
    </div>
    <div class="col-sm-8 col-sm-offset-4 error-label">
        @Html.ValidationMessageFor(model => model.Phonenumber)
    </div>
</div>
